
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> {{error}}</p>
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
    {% csrf_token %}

        <label for="username">Введите логин</label>

        <input type="text" id="username" name="username" maxlength="30" value="{{username|default:''}}" required>

         <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" maxlength="8" required value="{{password|default:''}}">

         <label for="repeat_password">Повторите пароль</label>
        <input type="text" id="repeat_password" name="repeat_password" maxlength="8" required value="{{repeat_password|default:''}}">

        <label for="age">Введите свой возраст</label>
        <input type="number" id="age" name="age" value="{{age|default:''}}" >

        <button type="submit">Отправить</button>
    </form>
    <br>
    <h3 align="center">{{generated}}</h3>
</body>
</html>